body {
    margin: 0; padding: 0;
    background-color: black;

    @media screen and (max-width: 480px) {
        background-color: red;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        background-color: blue;
    }
}

div#images {
    display: flex;
    max-width: 900px;
    flex-wrap: wrap;
    margin: 0 auto;

    img {
        width: 25%;
        flex: 1;
        margin: 5px;

        @media screen and (max-width: 480px) {
            width: 50%;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            width: 50%;
            padding: 3em;
        }
    }
}