$tablet: 800px;
$mobile: 480px;

body {
    background-color: rgb(33,50,58);
}
#gallery {
    display: flex;
    width: 80%;
    max-width: 900px;
    flex-wrap: wrap;
    margin:0 auto;
    
    .picture {
        position: relative;
        flex: 30%;
        min-height: 100%;
        margin: 1%;
        img {
            width: 100%;
           height: 100%;
        }
      }
    @media screen and (max-width: $tablet) {
        width: 100%;
        .picture {
            width: 48%;
            flex: unset;
        }
    } 
    @media screen and (max-width: $mobile) {
        .picture {
            width: 95%;
        }
    }
}
.bg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.420);
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    opacity: 0;
    transition: opacity 200ms ease-out;
    p {
        font-size: 1.5vw;
        color: white;
        @media screen and (max-width: 800px,) {
            font-size: 2vw;
        }
        @media screen and (max-width: 480px){
            font-size: 4vw;
        }
    }
    &:hover {
        opacity: 1;
        
    }
}