body {
  background-color: black;

  @media screen and (max-width: 480px) {
    background-color: red;
  }
}

#images {
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
  margin:0 auto;
    img {
      width: 25%;
      flex: 1;
      margin: 5px;
    }
}
      @media screen and (max-width: 768px) {
      img {
        width: 50%;
      }
    }
