// BREAKPOINTS
$breakpoint-tablet : 768px;
$breakpoint-mobile : 480px;

body {
    margin: 0;
    padding: 0;
}

// NORMAL
$color-primary : #eee;
$color-secondarx : #eee;
$color-accent : #eee;

// DARK MODE


// MAIN
div.container {
    padding: 2em 10em;
    background-color: $color-primary;

    @media screen and (max-width: $breakpoint-mobile) {
        padding: 0;
    }

    div.pictures {
        width: 100%;
        margin: 0 auto;
        color: $color-secondarx;

        // GRID
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
        justify-items: center;

        @media screen and (max-width: $breakpoint-mobile) {
            grid-template-columns: 1fr;
        }

        img {
            width: 100%;
            height: 150px;
        }
    }

    div.output {
        margin: 1em auto;

        img {
            width: 100%;
        }
    }

}